.mono/metadata/ide_messaging_meta.txt
.mono/metadata/ide_messaging_meta.txt
.mono/temp/obj/Debug/Demo1.GeneratedMSBuildEditorConfig.editorconfig
.mono/metadata/ide_messaging_meta.txt
.mono/temp/obj/Debug/Demo1.assets.cache
.mono/temp/obj/Debug/Demo1.GeneratedMSBuildEditorConfig.editorconfig
